<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.newsuper.code">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 从sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!--  xuanfuwindow  android:name=".xuanfu.App"-->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ruler.RulerActivity"/>
        <activity android:name=".bottompop.BottomPopActivity"/>
        <activity android:name=".slitab.LadderTextActivity"/>
        <activity android:name=".tabscroll.TabScrollActivity"/>
        <activity android:name=".flourish.FlourishActivity"/>
        <activity android:name=".blurimg.BlurImgSwitcherActivity"/>
        <activity android:name=".swipe.LiquidSwipeActivity" />
        <activity android:name=".flibtab.FlibTabActivity"/>
        <activity android:name=".bollon.BollonActivity" />

        <!--拍照上传的authorities  matisse框架限定必须为com.thunder.sample.fileprovider ，代码中设定也必须为这个，否则报Attempt to invoke virtual method 'android.content.res.XmlResourceParser -->
        <!--        <provider-->
        <!--            android:name=".matisse.PhotoFileProvider"-->
        <!--            android:authorities="${applicationId}"-->
        <!--            android:exported="false"-->
        <!--            android:grantUriPermissions="true">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--                android:resource="@xml/file_paths"/>-->
        <!--        </provider>-->

        <!--添加provider-->
        <provider
            android:name=".matisse.PhotoFileProvider"
            android:authorities="com.newsuper.code"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".goaway.GoAwayActivity" />
        <service
            android:name="com.newsuper.code.goaway.GoAwayWallpaperService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="dcd2388ae0" />


        <activity android:name=".gank.ui.GankActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <activity android:name=".gank.ui.GankSearchActivity" />
        <activity android:name=".gank.ui.GalleryActivity" />
        <activity android:name=".gank.ui.GankWebActivity" />

        <activity android:name=".combine.CombineBitmapActivity" />
        <activity android:name=".supertextview.SuperTextActivity" />

        <activity android:name=".textpathview.PathActivity" />
        <activity android:name=".textpathview.PathFirstActivity" />
        <activity android:name=".textpathview.PathSecondActivity" />
        <activity android:name=".textpathview.PathThirdActivity" />
        <activity android:name=".textpathview.PathForthActivity" />
        <activity android:name=".textpathview.PathFifthActivity" />

        <activity android:name=".whiteboard.WhiteBoardActivity" />

        <activity android:name=".downloader.DownloadActivity" />

        <activity android:name=".dianzan.DianzanActivity" />

        <activity android:name=".dianzan.pop.PopLikeActivity" />
        <activity android:name=".dianzan.pop.ListActivity" />

        <activity
            android:name=".swipeback.SwipeBackActivity"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".swipeback.CommonActivity"
            android:theme="@style/AppTheme5">

        </activity>
        <activity
            android:name=".swipeback.ScrollViewActivity"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".swipeback.HorizontalScrollViewActivity"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".swipeback.NestedScrollViewActivity"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".swipeback.ListViewActivity"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".swipeback.RecyclerViewActivity"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".swipeback.ViewPagerActivity"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".swipeback.WebViewActivity"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".swipeback.SwipeRefreshLayoutActivity"
            android:theme="@style/AppTheme5" />

        <activity android:name=".xuanfu.XuanFuWindowAty" />
        <activity
            android:name=".xuanfu.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".xuanfu.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".xuanfu.ArticleListActivity"
            android:screenOrientation="portrait" />

        <service android:name=".xuanfu.WindowShowService" />

        <activity android:name=".zhihu.ZhihuKaipingActivity" />
        <activity android:name=".zhihu.ZhiHuViewActivity" />
        <activity android:name=".search.JianShuSearchActivity" />
        <activity android:name=".wechat.WechatShouyeActivity" />

        <activity android:name=".loadAnimation.LoadAnimationActivity" />

        <service
            android:name=".loadAnimation.TestService"
            android:exported="false" />

        <activity android:name=".cardswipe.CardSwipeActivity" />

        <activity android:name=".jinyun.JinyunActivity" />

        <activity android:name=".fitimg.FitImgActivity" />
        <activity android:name=".matisse.MatissePhotoActivity" />
        <activity android:name=".tree.TreeActivity" />

        <service
            android:name="com.newsuper.code.bollon.ReleaseService"
            android:priority="1000"></service>

        <receiver android:name="com.newsuper.code.bollon.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.newsuper.code.bollon.AppInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>